<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=“stylesheet” href=“https://www.w3schools.com/w3css/4/w3.css”>
    <link rel=“stylesheet” href=“https://fonts.googleapis.com/css?family=Roboto”>
    <link rel=“stylesheet” href=“https://fonts.googleapis.com/css?family=Source Sans Pro”>
    <link rel=“stylesheet” href=“https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Disciple Assistance</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      html {
      scroll-behavior: smooth;
    }
    h1,h2,h3,h4,h5,h6 {font-family: "Roboto"}
    body {font-family: "Source Sans Pro"}


    </style>
  </head>
<body class="w3-light-white w3-margin">


    <div
    class="upperHeader"
    style="display: flex; justify-content: space-between; align-items: center"
  >
  <div class="logo">
    <a href="http://localhost:2000/main">
    <img
      src="http://localhost:2000/img/Untitled.jpg"id="logo1"
      style="height: 70px; width: 300px"
      alt=""
    />
  </a>
  </div>
    <div class="a" id="links"></div>
  </div>

<!-- Navigation bar with links -->
<div class="w3-bar w3-white w3-text-black">
  <a href="http://localhost:2000/admincars" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium w3-right" style="margin-top:10px;">Add Cars</a>

  <a href="http://localhost:2000/bankinfo" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium w3-right" style="margin-top:10px;">Bank Details</a>
  <a href="http://localhost:2000/bookinglist" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium w3-right" style="margin-top:10px;">Booking List</a>
  <a href="http://localhost:2000/admincarslist" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium w3-right" style="margin-top:10px;">Hosted Cars</a>
  <a href="http://localhost:2000/adminuserslist" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium w3-right" style="margin-top:10px;">Users List</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-medium w3-hide-large" style="margin-top:10px;" onclick="myFunction()">&#9776;</a>
</div>

<div id="demo" width = "2000px" class="w3-bar-block w3-white w3-hide w3-hide-large w3-small">
  <a href="http://localhost:2000/adminuserslist" class="w3-bar-item w3-button">Users List</a>
  <a href="http://localhost:2000/admincarslist" class="w3-bar-item w3-button">Hosted Cars</a>
  <a href="http://localhost:2000/bookinglist" class="w3-bar-item w3-button">Booking List</a>
  <a href="http://localhost:2000/bankinfo" class="w3-bar-item w3-button">Bank Details</a>
  <a href="http://localhost:2000/admincars" class="w3-bar-item w3-button">Add Cars</a>

</div>


<form action="/action_page.php" class="form1" style="border:1px solid #ccc">

    <div class ="mb-5">
        <h3 class ="mb-3">Update Notification</h3>
        <input  type="text" id="notify" placeholder="Notification" class ="form-control mb-3">    
        <button type="submit"  id=
        "signin" class = "btn btn-outline-primary mb-3 w-20 ">Update</button>
    
    
        </div>
        </form>


        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        crossorigin="anonymous"
      ></script>
  
      <script>
        var currentUrl = window.location.href;
        const id = currentUrl.split("/").pop();
        console.log(id);
        //when clocked on cancel button the page should be redirected to the admin page
  
        // create a get AJAX request
        $.ajax({
          url: "http://localhost:2000/notify/" + id,
          type: "GET",
          success: function (data) {
            console.log(data);
            // populate the inputs
            $("#notify").val(data.notification);
          },
        });
  
        // create a post AJAX request to add the product
  
        $("#signin").click(function (e) {
          e.preventDefault();
          var notify = $("#notify").val();
        
  
          var formData = new FormData();
          formData.append("notify", notify);
          $.ajax({
            url: "http://localhost:2000/notify/update/" + id,
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
              console.log(data);
              location.reload();
              $("#error").html(data.message);
            },
            error: function (data) {
              console.log(data);
              $("#error").html(data.responseJSON.message);
            },
          });
        });
      </script>


</body>

</html>