<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=“stylesheet” href=“https://www.w3schools.com/w3css/4/w3.css”>
    <link rel=“stylesheet” href=“https://fonts.googleapis.com/css?family=Roboto”>
    <link rel=“stylesheet” href=“https://fonts.googleapis.com/css?family=Source Sans Pro”>
    <link rel=“stylesheet” href=“https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>

    <title>Disciple Assistance</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      html {
      scroll-behavior: smooth;
    }
    h1,h2,h3,h4,h5,h6 {font-family: "Roboto"}
    body {font-family: "Source Sans Pro"}
    </style>
  </head>
<body class="w3-light-white w3-margin">


    <div
    class="upperHeader"
    style="display: flex; justify-content: space-between; align-items: center"
  >
  <div class="logo">
    <a href="http://localhost:4000/main">
    <img
      src="http://localhost:4000/img/Untitled.jpg"id="logo1"
      style="height: 70px; width: 300px"
      alt=""
    />
  </a>
  </div>
    <div class="a" id="links"></div>
  </div>

<!-- Navigation bar with links -->
<div class="w3-bar w3-white w3-text-black">
  
    <a href="http://localhost:4000/bankinfo" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium w3-right" style="margin-top:10px;">Bank Details</a>
  <a href="http://localhost:4000/bookinglist " class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium w3-right" style="margin-top:10px;">Booking List</a>
  <a href="http://localhost:4000/admincarslist" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium w3-right" style="margin-top:10px;">Hosted Cars</a>
  <a href="http://localhost:4000/adminuserslist" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium w3-right" style="margin-top:10px;">Users List</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-medium w3-hide-large" style="margin-top:10px;" onclick="myFunction()">&#9776;</a>
</div>

<div id="demo" width = "2000px" class="w3-bar-block w3-white w3-hide w3-hide-large w3-small">
  <a href="http://localhost:4000/adminuserslist" class="w3-bar-item w3-button">Users List</a>
  <a href="http://localhost:4000/admincarslist" class="w3-bar-item w3-button">Hosted Cars</a>
  <a href="http://localhost:4000/bookinglist" class="w3-bar-item w3-button">Booking List</a>
  <a href="http://localhost:4000/bankinfo" class="w3-bar-item w3-button">Bank Details</a>
</div>
    


    <h2>Bank Info List</h2>
    <h5 id="error"></h5>
    <div class="row p-5">
      <div class="col-lg-12">
        <table id="table" class="table table-hover mt-5">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Bank</th>
              <th>Address</th>
              <th>Account No</th>
              <th>Transit No</th>
              <th>Institution No</th>
              <th>Insurance Policy No</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      crossorigin="anonymous"
    ></script>


    <script>
      
      
      fetch("http://localhost:4000/account/bank", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((res) => {
          console.log(res);
          if (res.ok) {
            return res.json();
          } else {
            throw new Error("Something went wrong");
          }
        })
        .catch((err) => {
          document.getElementById("error").innerHTML =
            "Invalid email or password";
        })
        .then((data) => {
          //add array of users to table
          data.forEach((account) => {
            var row = document.createElement("tr");
            var id = document.createElement("td");
            var name = document.createElement("td");
            var bank = document.createElement("td");
            var address = document.createElement("td");
            var accountno = document.createElement("td");
            var transitno = document.createElement("td");
            var institutionno = document.createElement("td");
            var carinsurance = document.createElement("td");







            id.innerHTML = account.id;
            name.innerHTML = account.name;
            bank.innerHTML = account.bank;
            address.innerHTML = account.address;
            accountno.innerHTML = account.accountno;
            transitno.innerHTML = account.transitno;
            institutionno.innerHTML = account.institutionno;
            carinsurance.innerHTML = account.carinsurance;
         

            row.appendChild(id);
            row.appendChild(name);
            row.appendChild(bank);
            row.appendChild(address);
            row.appendChild(accountno);
            row.appendChild(transitno);
            row.appendChild(institutionno);
            row.appendChild(carinsurance);


            document.getElementById("table").appendChild(row);
          });

          console.log(data);
        });


   





    </script>
  </body>
</html>
