<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="script.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.0.1/firebase-database.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>

</head>
<body>
    <title>Document</title>
    <h2 >JobSearch.com</h2>
    <h1>Create Your Account </h1>
    <p>* Required Information </p>
    <h3>Basic Information</h3>
    <form action="" class="form">
      <div class="form-group">
        <label for="fname">Email*:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="lname">Password*:</label>
        <input type="password" id="password" name="password"><br><br>

      </div>
      <button id ="button">Register</button>
    </form>

<script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        const firebaseConfig = {
          apiKey: "AIzaSyBYJoJZjlsGthEAu6PlrFqgY3-fGtULy00",
          authDomain: "vivudhapp-1500716153217.firebaseapp.com",
          projectId: "vivudhapp-1500716153217",
          storageBucket: "vivudhapp-1500716153217.appspot.com",
          messagingSenderId: "887524237352",
          appId: "1:887524237352:web:fe7345e04b583823cbd51d"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        import {getDatabase, ref, set, child, update, remove}
        from "https://www.gstatic.com/firebasejs/9.6.9/firebase-database.js"
    
        const db = getDatabase();
        var emailviv = document.getElementById("email");
        var passwordviv = document.getElementById("password");
    
        var insbutton = document.getElementById("button");
    
     function InsertData(){
    
        set (ref(db, "TheStudents/" +insbutton.value ),{
    
            emailbox: email.value,
            passwordbox: password.value
        })
        .then(()=>{
    
            alert("data Stored");
        })
        .catch((error)=>{
    
            alert("failed ,+error" +error);
    
    
    
        })
    
        
    }
    
    insbutton.addEventListener('click',InsertData);

</script>



</body>



 </html>