<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

<style>
       body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            margin:0px;
        }

        .a {
    height:10px;

     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
 }
  </style>
     

   
</head>
<div class="a" id="links"></div>


<div class="logo">
  <a href="http://localhost:4000/main">
  <img
    src="http://localhost:4000/img/Untitled.jpg"id="logo1"
    style="height: 70px; width: 300px"
    alt=""
  />
</a>
<br><br>




<script>
  //check if the user has jwt token
  if (localStorage.getItem("token")) {
    //if the user has jwt token, then show the user name
    document.getElementById(
      "links"
    ).innerHTML = `<a href="http://localhost:2000/user-profile" class="link">
      <img src="http://localhost:5000/images/user.png" alt="user" />
      </a> <a href="http://localhost:2000/register" class="link">
      <img src="http://localhost:5000/images/cart.png" alt="user" />
      </a>`;
  } else {
    //if the user doesn't have jwt token, then show the login button
    document.getElementById(
      "links"
    ).innerHTML = `<a btn btn-outline-primary mb-3 w-100 ' href="http://localhost:4000/login">Login</a> <a class='btn btn-outline-primary mb-3 w-100 ' href="http://localhost:4000/register">Register</a>`;
  }
</script>


<script>
    //check if the user has jwt token
    if (localStorage.getItem("token")) {
      //if the user has jwt token, then show the user name
      document.getElementById(
        "links"
      ).innerHTML = `<a href="http://localhost:2000/app/profile" id="profile" class="link">
      <img src="http://localhost:2000/images/user.png" alt="user" />
      </a> <a href="http://localhost:2000/app/cart" id="user"class="link">
      <img src="http://localhost:2000/images/cart.png" alt="user" />
      </a>`;
    } else {
      //if the user doesn't have jwt token, then show the login button
      document.getElementById(
        "links"
      ).innerHTML = `<a class=' mb-3 w-100 ' id ="login3" href="http://localhost:4000/login">Login</a> <a class=' mb-3 w-100 ' id="register" href="http://localhost:4000/register">Register</a>`;
    }
  </script>

<body>
    <form action=""  method="get" style="border:1px solid #ccc">

  
    <div class ="mb-5">
        <h3 class ="mb-3">Login</h3>
        <input type="text" id="email" placeholder="Email" class ="form-control mb-3">
        <input type="password" id="password" placeholder="Password" class ="form-control mb-3">
        <div class="custom-control custom-switch mb-3 ">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Keep Me logged In </label>
          </div>
        <button id="login" class = "btn btn-outline-primary mb-3 w-100 ">Login</button>


        </form>
</body>

<script>
document.getElementById("login").addEventListener("click", function (e) {
        e.preventDefault();

        //get email and password from input
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        //check if email and password are empty
        if (email == "" || password == "") {
          alert("Please enter email and password");
        } else {
          //if not empty, check if email and password are correct

          //use fetch api to send data to server
          fetch("http://localhost:4000/userr/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              email: email,
              password: password,
            }),
          })
            .then((res) => {
              console.log(res);
              /*if(userr.block === 1){
                alert("You are blocked by the admin Please Contact the Admin");

              }


              else  */if (res.ok) {
                return res.json();
              } else {
                throw new Error("Something went wrong");
              }
            })
            .catch((err) => {

              alert("Invalid Email/password Or Might be blocked by the Admin or Check the Driving Lisence");
             /* document.getElementById("error").innerHTML =
                "Invalid email or password"; */
            })
            .then((data) => {
              localStorage.setItem("token", data.token);
              localStorage.setItem("role", "userr");
              window.location.href = "http://localhost:4000/main";
              console.log(data);
            });
        }
      });
    </script>

</body>

</html>